{% extends 'base.html.twig' %}

{% block title %}Mon panier - Com D Roy{% endblock %}

{% block body %}

    <h1>Mon panier</h1>
    <p>Retrouver l'ensemble de vos produits</p>

    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for item in cart %}
        <tr>
            <th>
                <img src="/uploads/{{ item.item.picture }}" alt="{{ item.item.name }}" height="55px"><br/>
            </th>
            <td>{{ item.item.name }}<br/>
                <small>{{ item.item.description }}</small>
            </td>
            <td>x {{ item.quantity }}</td>
            <td>{{ item.item.price }} € </td>
            <td>{{ ((item.item.price * item.quantity )) }} € </td>
        </tr>
        </tbody>
        {% set total = total + (item.item.price * item.quantity ) %}
        {% endfor %}

    </table>
    <div class="text-right">
        <b class="text-white">Nombre de produits :  {{ cart | length }} </b> <br/>
        <b class="text-white">Total de mon panier : {{ ( total) }} €</b>

        <a href="" class="btn btn-success btn-black">Valider mon panier</a>
    </div>

{% endblock %}
