<nav class="navbar">
	<div class="dropdown__menu_burger">
		<div class="navbar__menu_burger">
			<span class="navbar__menu_burger_topBar"></span>
			<span class="navbar__menu_burger_middleBar"></span>
			<span class="navbar__menu_burger_bottomBar"></span>
		</div>
		<div class="dropdown__menu_burger-choises">
			<a href="{{ path('app_homepage') }}" class="dropdown__burger-choice">
				<p>Accueil</p>
			</a>

			{# RESERVATION REDIRIGE VERS ACCUEIL #}
{# 
			<a href="{{ path('app_homepage') }}" class="dropdown__burger-choice">
				<p>Réservation</p>
			</a> #}
			<a href="{{ path('app_carte') }}" class="dropdown__burger-choice">
				<p>Menu & Carte</p>
			</a>
			<a href="{{ path('cart') }}" class="dropdown__burger-choice">
				<p>Cave à vins</p>
			</a>

			{# L'Equipe REDIRIGE VERS ACCUEIL #}

			{# <a href="{{ path('app_homepage') }}" class="dropdown__burger-choice">
				<p>L'Equipe</p>
			</a> #}
			{# Informations REDIRIGE VERS ACCUEIL #}

			<a href="{{ path('app_homepage') }}" class="dropdown__burger-choice">
				<p>Informations</p>
			</a>
			<a href="{{ path('app_contact') }}" class="dropdown__burger-choice">
				<p>Contact</p>
			</a>
		</div>
	</div>

	<a href="{{ path('app_homepage') }}">
		<div class="navbar__logo">
			<img class="navbar__logo_img" src="{{ asset('uploads/images/logo.jpg') }}" alt="logo">
		</div>
	</a>

	<div class="navbar__icones">

		<div class="navbar__icone_link">
			<div class="navbar__icones_languages">
				<img src="{{ asset('uploads/images/frenchflagframed.svg') }}" alt="Français">
				<span></span>
				<img src="{{ asset('uploads/images/united-kingdom-flag-icon.svg') }} " alt="English">
			</div>
			<div class="dropdown__language-option">
				<a href="#" class="dropdown__language-linkFR">Français</a>
				<span></span>
				<a href="#" class="dropdown__language-linkEN">English</a>
			</div>
		</div>

		<a href="{{ path('app_homepage') }}" class="navbar__icone_link">
			<div class="navbar__icones_reservation">
				<i class="fa-solid fa-calendar fa-2xl"></i>
			</div>
		</a>

        <a href="{{ path('cart') }}" class="navbar__icone_link">
          <div class="navbar__icones_panier">
            <i class="fa-solid fa-shopping-cart fa-2xl"></i>
          </div>
        </a>

		<a href="#" class="navbar__icone_link">
			<div class="navbar__icones_gift">
				<i class="fa-solid fa-gift fa-2xl"></i>
			</div>
		</a>

		<a href="{{ path('app_register') }}" class="navbar__icone_link">
			<div class="navbar__icones_connexion">
				<i class=""></i>
			</div>
		</a>

		{% if app.user %}
			<a href="{{ path('app_account') }}">Mon compte<small>({{ app.user.firstname }})</small>
			</a>
			|
			<a href="{{ path('app_logout') }}">
				<i class="fa-solid fa-user-slash fa-2xl"></i>
			</a>
		{% else %}
			<a href="{{ path('app_login') }}">
				<i class="fa-regular fa-user fa-2xl"></i>
			</a>
			|
			<a href="{{ path('app_register') }}">Inscription</a>
		{% endif %}

		<a href="{{ path('app_logout') }}" class="navbar__icone_link_logout">
			<div class="navbar__icones_deconnexion">
				<i class=""></i>
			</div>
		</a>
	</div>

</nav>
