{% extends 'base.html.twig' %}

{% block title %}Carte
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('menu-carte') }}}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('menu-carte') }}
{% endblock %}

{% block body %}
	<div class="menu-container-cadre">
		<div class="menu-colonne-gauche">
			<div class="bordered-content">
				{% for key, items in products %}
					<h4 class='my-5' id="{{ key | lower }}">{{ key }}</h4>
                    <hr>
					{% for item in items %}
						<div class="menu-gauche-donnees">
							{{ item | dots }}
							€
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<div class="menu-colonne-droite">
			<nav class="menu-navigation sticky">
				<ul class="menu-navbar">
					<li>
						<a href="#menus">Nos Menus</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#menus-formuleMidi">Formule du Midi</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Plat du jour</a>
									</li>
									<li>
										<a href="#">Entrée + Plat</a>
									</li>
									<li>
										<a href="#">Plat + Dessert</a>
									</li>
									<li>
										<a href="#">Entrée + Plat + Dessert</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#menus-formuleSoirWK">Formule Soir & Week-end</a>
							</li>
							<li>
								<a href="#menus-enfant">Menu enfant</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#aLaCarte">A la Carte</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#aLaCarte-entrees">Entrées</a>
							</li>
							<li>
								<a href="#aLaCarte-plats">Plats</a>
							</li>
							<li>
								<a href="#aLaCarte-desserts">Desserts</a>
							</li>
							<li>
								<a href="#aLaCarte-suggestions">Nos Suggestions</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#aLaCarte-suggestions-entrees">Entrées</a>
									</li>
									<li>
										<a href="#aLaCarte-suggestions-plats">Plats</a>
									</li>
									<li>
										<a href="#aLaCarte-suggestions-desserts">Desserts</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#aLaCarte-glaces">Glaces</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#aLaCarte-glaces-incontournables">Les Incontournables</a>
									</li>
									<li>
										<a href="#aLaCarte-glaces-inattendues">Les Inattendues</a>
									</li>
									<li>
										<a href="#aLaCarte-glaces-interdites">Les Interdites</a>
									</li>
									<li>
										<a href="#aLaCarte-glaces-nosParfums">Nos parfums</a>
										<ul class="dropdown-menu">
											<li>
												<a href="#aLaCarte-glaces-nosParfums-glaces">Nos Parfums de glace</a>
											</li>
											<li>
												<a href="#aLaCarte-glaces-nosParfums-sorbets">Nos Parfums de sorbet</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#boissons">Nos Boissons</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#boissons-cocktails">Nos Cocktails</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#boissons-cocktails-sansAlcool">Nos Cocktails sans alcool</a>
									</li>
									<li>
										<a href="#boissons-cocktails-avecAlcool">Nos Cocktails avec alcool</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#boissons-aperitifs">Nos Apéritifs</a>
							</li>
							<li>
								<a href="#boissons-bieres">Nos Bières</a>
							</li>
							<li>
								<a href="#boissons-softs">Nos Softs</a>
							</li>
							<li>
								<a href="#boissons-whiskies">Nos Whiskies</a>
							</li>
							<li>
								<a href="#boissons-digestifs">Nos Digestifs</a>
							</li>
							<li>
								<a href="#boissons-rhums">Nos Rhums</a>
							</li>
							<li>
								<a href="#boissons-boissonsChaudes">Nos Boissons chaudes</a>
							</li>
							<li>
								<a href="#boissons-vinsChampagnes">Nos Vins & Champagnes</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#boissons-vinsChampagnes-vinRouge">Vin rouge</a>
									</li>
									<li>
										<a href="#boissons-vinsChampagnes-vinRose">Vin rosé</a>
									</li>
									<li>
										<a href="#boissons-vinsChampagnes-vinBlancMoelleux">Vin blanc moelleux</a>
									</li>
									<li>
										<a href="#boissons-vinsChampagnes-vinBlancSec">Vin blanc sec</a>
									</li>
									<li>
										<a href="#boissons-vinsChampagnes-Champagne">Champagne</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<a href="#" class="scroll-to-top">
		<img src="/src/arrow-up-solid.svg" alt="Flèche vers le haut"/>
	</a>
{% endblock %}
